backports-zoneinfo
bleach
boto3
Commitizen
django
django-amazon-ses
django-cors-headers
django-cors-headers
django-environ
django-jazzmin
django-private-storage
django-ses
django-simple-history
django-split-settings
django-storages
djangorestframework
djangorestframework_simplejwt
djoser
drf-yasg
drf-yasg[validation]
drfpasswordless
factory-boy
mysqlclient==2.0.3
Pillow
pre-commit
pyjwt
pytest
pytest-cov
pytest-django
stripe
